* {
    line-height: 2;
  }
  body {
    background-image: url("../images/morocco.png");
  }

  section {
    background-color: white;
    padding: 20px;
  }

  .aboutme {
    background-color: white
  }

  h2 {
    color: #4aaaa5;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid black;
  }

  .profilepic {
    float: left;
    padding-right: 20px;
  }
  p {
  }